@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-poppins: Poppins;
  --font-manrope: Manrope;

  /* font sizes */
  --font-size-xs-9: 11.9px;
  --font-size-xs-6: 11.6px;
  --font-size-smi-7: 12.7px;
  --font-size-9xl: 28px;
  --font-size-3xl: 22px;
  --font-size-17xl: 36px;
  --font-size-10xl: 29px;
  --font-size-smi-9: 12.9px;
  --font-size-xl: 20px;
  --font-size-base: 16px;
  --font-size-3xs: 10px;
  --font-size-33xl: 52px;
  --font-size-12xl: 31px;
  --font-size-23xl: 42px;
  --font-size-mini: 15px;
  --font-size-5xs-7: 7.7px;
  --font-size-smi-3: 12.3px;
  --font-size-sm: 14px;
  --font-size-19xl: 38px;
  --font-size-mini-6: 14.6px;

  /* Colors */
  --color-gray-100: #fafafa;
  --color-gray-200: #192242;
  --color-gray-300: #050b14;
  --color-gray-400: #00041a;
  --color-gray-500: #00020e;
  --color-gray-600: rgba(0, 0, 0, 0.1);
  --color-dodgerblue-100: #1f86ff;
  --color-dodgerblue-200: rgba(31, 134, 255, 0.6);
  --color-cornflowerblue: #38a1ff;
  --color-white: #fff;
  --color-gold-100: #ffdc24;
  --color-gold-200: #e6c20a;
  --color-gold-300: rgba(255, 220, 36, 0.15);
  --color-gold-400: rgba(230, 194, 10, 0.09);
  --color-silver: #b4bbc6;
  --color-tomato-100: #ea4137;
  --color-tomato-200: rgba(255, 81, 81, 0.1);
  --color-darkgray-100: #b2b2b2;
  --color-black: #000;
  --color-whitesmoke: #efefef;

  /* Gaps */
  --gap-mid: 17px;
  --gap-14xl: 33px;
  --gap-33xl: 52px;
  --gap-7xl: 26px;
  --gap-2xl-6: 21.6px;
  --gap-2xl: 21px;
  --gap-3xs-4: 9.4px;
  --gap-3xs-3: 9.3px;
  --gap-xl: 20px;
  --gap-8xl: 27px;
  --gap-xs: 12px;
  --gap-mini-9: 14.9px;
  --gap-mini-8: 14.8px;
  --gap-3xl: 22px;
  --gap-3xs-7: 9.7px;
  --gap-37xl: 56px;
  --gap-4xs-6: 8.6px;
  --gap-5xl-8: 24.8px;
  --gap-mid-1: 17.1px;
  --gap-112xl-7: 131.7px;
  --gap-base: 16px;
  --gap-47xl: 66px;
  --gap-32xl: 51px;
  --gap-6xl: 25px;
  --gap-38xl: 57px;
  --gap-9xl: 28px;
  --gap-170xl: 189px;
  --gap-10xs: 3px;
  --gap-11xs: 2px;
  --gap-26xl: 45px;
  --gap-5xs: 8px;
  --gap-11xl: 30px;
  --gap-2xl-9: 21.9px;
  --gap-4xs-3: 8.3px;
  --gap-126xl-3: 145.3px;
  --gap-12xs-1: 0.1px;
  --gap-20xl-6: 39.6px;
  --gap-12xl: 31px;
  --gap-mini: 15px;
  --gap-5xl: 24px;
  --gap-8xl-6: 27.6px;
  --gap-29xl: 48px;
  --gap-4xs-9: 8.9px;
  --gap-21xl-3: 40.3px;
  --gap-smi-1: 12.1px;

  /* Paddings */
  --padding-73xl: 92px;
  --padding-20xl: 39px;
  --padding-41xl: 60px;
  --padding-5xs-1: 7.1px;
  --padding-26xl: 45px;
  --padding-xl: 20px;
  --padding-7xs: 6px;
  --padding-6xs: 7px;
  --padding-4xl-6: 23.6px;
  --padding-65xl-8: 84.8px;
  --padding-36xl: 55px;
  --padding-12xs: 1px;
  --padding-smi: 13px;
  --padding-lgi: 19px;
  --padding-sm: 14px;
  --padding-4xs: 9px;
  --padding-lg: 18px;
  --padding-2xs: 11px;
  --padding-9xs-4: 3.4px;
  --padding-40xl: 59px;
  --padding-24xl: 43px;
  --padding-34xl: 53px;
  --padding-3xl: 22px;
  --padding-15xl: 34px;
  --padding-5xs-4: 7.4px;
  --padding-30xl: 49px;
  --padding-5xs-5: 7.5px;
  --padding-6xs-7: 6.7px;
  --padding-4xl: 23px;
  --padding-3xs: 10px;
  --padding-6xs-6: 6.6px;
  --padding-31xl: 50px;
  --padding-8xs: 5px;
  --padding-xs: 12px;
  --padding-6xl: 25px;
  --padding-5xl: 24px;
  --padding-45xl: 64px;
  --padding-127xl: 146px;
  --padding-8xl: 27px;
  --padding-43xl: 62px;
  --padding-23xl: 42px;
  --padding-76xl: 95px;
  --padding-122xl-7: 141.7px;
  --padding-10xs: 3px;
  --padding-base: 16px;
  --padding-12xl: 31px;
  --padding-11xl: 30px;
  --padding-38xl: 57px;
  --padding-18xl: 37px;
  --padding-11xs: 2px;
  --padding-42xl: 61px;
  --padding-7xl: 26px;
  --padding-9xl: 28px;
  --padding-37xl: 56px;
  --padding-17xl: 36px;
  --padding-9xs: 4px;
  --padding-2xl: 21px;
  --padding-14xl: 33px;
  --padding-25xl: 44px;
  --padding-mini: 15px;
  --padding-10xs-6: 2.6px;
  --padding-5xs: 8px;
  --padding-10xs-3: 2.3px;
  --padding-11xs-6: 1.6px;
  --padding-12xs-2: 0.2px;
  --padding-mid: 17px;
  --padding-11xs-8: 1.8px;
  --padding-12xs-1: 0.1px;
  --padding-10xs-5: 2.5px;
  --padding-11xs-5: 1.5px;
  --padding-12xs-3: 0.3px;
  --padding-base-4: 16.4px;
  --padding-21xl-2: 40.2px;
  --padding-115xl: 134px;
  --padding-68xl: 87px;
  --padding-xs-6: 11.6px;
  --padding-base-7: 15.7px;
  --padding-xl-1: 20.1px;

  /* Border radiuses */
  --br-9xs-7: 3.7px;
  --br-sm-3: 13.3px;
  --br-5xs-5: 7.5px;
  --br-7xs-2: 5.2px;
  --br-3xs: 10px;
  --br-5xs-7: 7.7px;
  --br-5xs: 8px;
  --br-41xl: 60px;
  --br-base-7: 16.7px;
}
